################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DemoSample/3- C#-DevelopmentSample/2-RealTimePreview2/NVRCsharpDemo/bin/NVRCsharpDemo.exe
